@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700") format("woff2");
  font-display: swap;
}

:root{
  --body-color: rgba(242, 242, 242, 1);
  --main-color:  rgba(255, 255, 255, 1);
  --favorites-current-color:rgba(125, 181, 79, 1);
  --a-button-color:rgba(117, 97, 87, 1);
  --background-color: rgba(36, 59, 59, 0.5);
  --button-background-color:rgba(130, 179, 211, 1);
  --advantages-item-1: rgba(130, 179, 211, 1);
  --advantages-item-2: rgba(131, 179, 211, 0.12);
  --advantages-item-3:rgba(131, 179, 211, 0.2);
  --recommendations-item-fuzzy: rgba(131, 179, 211, 0.12);
  --product-border: rgba(230, 230, 230, 1);
  --pagination-link-color: rgba(130, 179, 211, 1);
}

html{
  height: 100%;

}

/*Блок-body*/
body {
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  font-style: normal;
  color:rgba(0, 0, 0, 1);
  background-color: var(--body-color);
  margin-top: 0;
  margin-left: 40px;
  margin-right: 40px;
  display: flex;
  flex-direction: column;
  width: 1200px;
  min-height: 100%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Блок-header "главная страница"*/
.main-header{
  background-color: var(--main-color);
}

.navigation{
  display: flex;
  width: 1060px;
  margin:0 auto;

}

.navigation-list{
  width: 339px;
  margin: 0;
  padding: 0;
  margin-left: 30px;
  margin-right: 285px;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}


.navigation-user{
  width: 268px;
  margin: 0;
  padding: 0;
  margin-left: auto;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}


.navigation-link{
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: rgba(0, 0, 0, 1);
  text-decoration: none;
  display: block;
  padding: 20px 16px;
  box-sizing: content-box;

}

.navigation-link-user{
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: rgba(0, 0, 0, 1);
  text-decoration: none;
  display: block;
  min-height: 64px;
  min-width: 44px;
  padding: 22px 12px;

}

.number-of-likes{
  background-color: var(--favorites-current-color);
  color: rgba(255, 255, 255, 1);
}

.navigation-link-user-button{
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: rgba(255, 255, 255, 1);
  background-color: var(--a-button-color);
  text-decoration: none;
  text-transform: uppercase;
  padding: 8px 34px;
}

/*Блок-"Добро пожаловать в Седону"*/


.main-index{
  background-color: var(--main-color);
}

.main-container{
  flex-grow: 1;
}

.welcome-sedona{
  background-image: url("../images/svg/vector.svg"), url("../images/jpg/index-background.jpg");
  background-size: 100% auto, cover;
  background-repeat: no-repeat;
  background-position: left bottom, left top;
  background-color: var(--background-color);
}

.welcome-sedona-text{
  text-align: center;
}

.welcome-sedona-background{
  display: block;
  margin: 0 auto;
}

.welcome-sedona-text-location{
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.welcome-sedona-text-advantages{
  color:rgba(51, 51, 51, 1);
}

/*Блок-"Преимущества Седоны"*/
.advantages-list{
  text-align: center;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 1200px;
}

.advantages-item{
  width: 400px;
}

.advantages-title{
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.advantages-text{
  font-size: 18px;
  line-height: 21px;
}

.number-1,
.number-7{
  background-color:var(--advantages-item-1);
}

.advantages-item:nth-child(2n){
  background-color:var(--advantages-item-3);
}

.number-3,
.number-5{
  background-color:var(--advantages-item-2);
  width: 400px;
}

/*Блок-"Рекоммендации"*/
.recommendations-text{
  text-align: center;
}

.recommendations-text-comfort{
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
}

.recommendations-text-experienced-staff{
  color: rgba(51, 51, 51, 1);
}

.recommendations-list{
  text-align: center;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.recommendations-item{
  width: 400px;
}

.recommendations-title{
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: rgba(0, 0, 0, 1)
}

.recommendations-list p{
  font-size: 18px;
  line-height: 21px;
  color: rgba(51, 51, 51, 1);
}

.recommendations-item:nth-child(odd){
  background-color: var(--recommendations-item-fuzzy);
}
/*Блок-"Поиск гостиницы"*/
.hotel-search{
  text-align: center;
}

.hotel-search-text-interested{
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.hotel-search-text-search-terms{
  color: rgba(51, 51, 51, 1);
}

.button-search{
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  background-color: var(--a-button-color);
  color: rgba(255, 255, 255, 1);
  text-transform: uppercase;
  text-decoration: none;
}

/*Блок "Подписаться на рассылку"*/
.subscription{
  background-image: url("../images/jpg/background_subscription.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  color: rgba(255, 255, 255, 1);
  background-color: var(--background-color);
}

.subscription-text-newsletter{
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.subscription-text-helpful-information{
  color:rgba(51, 51, 51, 1);
}

.subcription-form-e-mail label{
  color: rgba(0, 0, 0, 1);
  font-size: 18px;
  line-height: 24px;
}

.button-subscribe{
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  color: rgba(255, 255, 255, 1);
  text-transform: uppercase;
  background-color: var(--button-background-color);
  border-color: rgba(130, 179, 211, 1);
}

/*Блок "footer -"главная страница""*/

.footer-main{
  background-color: var(--main-color);
}
.page-footer-container{
  display: flex;
  flex-direction: row;
  width: 1060px;
  margin: 0 auto;
  justify-content: space-between;
}

.footer-social{
  width: 142px;
}

.footer-social-list{
  margin: 0;
  padding: 0;

}

.footer-contacts{
  width: 720px;
  text-align: center;
}

.telephone{
  font-size: 40px;
  line-height: 40px;
  text-decoration: none;
  color:rgba(0, 0, 0, 1);

}

.logo-htmlacademy{
  width: 115px;


}

/*КАТАЛОГ*/

/*Блок-"header"*/
.catalog-header{
  background-color: var(--main-color);
}

/*Блок-"Фильтр по гостиницам"*/
.main-inner{
  background-color: var(--main-color);
}


.hotel-filter{
  background-image: url("../images/png/background_filter.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--background-color);
  padding-left: 70px;
  padding-right: 70px;
}



.breadcrumbs{
  display: flex;
}

.block-filter{
  display: flex;
  flex-direction: row;
}


.catalog-filter-infrastructure-spisok{
  width: 151px;
  padding: 0;
  margin: 0;
}

.catalog-filter-housing-spisok{
  width: 151px;
  padding: 0;
  margin: 0;
}

.block-price{
  width: 288px;
  margin: 0;
  padding: 0;
  margin-right: 70px;
}

.block-button-filter{
  width: 191px;
}


.inner-header-title{
  color: rgba(255, 255, 255, 1);
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
}

.breadcrumbs-item a{
  color: rgba(255, 255, 255, 1);
  font-size: 16px;
  line-height: 21px;
  text-decoration: none;
}

.catalog-filter-title{
  color: rgba(255, 255, 255, 1);
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

.infrastructure{
  color: rgba(255, 255, 255, 1);
  font-size: 18px;
  line-height: 23px;
}

.housing{
  color: rgba(255, 255, 255, 1);
  font-size: 18px;
  line-height: 23px;
}

.price-text{
  color: rgba(255, 255, 255, 1);
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

.catalog-filter-price label{
  font-size: 18px;
  line-height: 24px;
}

.catalog-filter button{
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: rgba(255, 255, 255, 1);
  background-color: var(--button-background-color);
  border-color:  rgba(130, 179, 211, 1);
}

.result{
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
}

.select-control{
  font-size: 18px;
  line-height: 21px;
  color:rgba(51, 51, 51, 1);
  background-color: var(--main-color);
}

/*Блок "Каталог продукции"*/
.product-list-item{
  background-color: var(--main-color);
  border: 1px solid var(--product-border);
}

.product-list-link {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: rgba(0, 0, 0, 1);
  text-decoration: none;

}

.type-of-housing{
  font-size: 18px;
  line-height: 21px;
  color: rgba(51, 51, 51, 1);
}

.price{
  font-size: 18px;
  line-height: 21px;
  color: rgba(51, 51, 51, 1);
}

.button-more-details{
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color:rgba(255, 255, 255, 1);
  background-color: var(--a-button-color);
  text-decoration: none;
}

.button-favorites{
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color:rgba(255, 255, 255, 1);
  background-color: var(--button-background-color);
  border-color: rgba(130, 179, 211, 1);
}

.button-favorites-current{
  background-color:var(--favorites-current-color);
  border-color: rgba(125, 181, 79, 1);
}

.raiting-text{
  font-size: 16px;
  line-height: 20px;
  color: rgba(51, 51, 51, 1);
}

.pagination-link{
  background-color: var(--pagination-link-color);
  font-size: 20px;
  line-height: 37px;
  font-weight: 700;
  text-align: center;
  color: rgba(255, 255, 255, 1);
  text-decoration: none;
}

.pagination-link-current{
  background-color: var(--body-color);
  color:rgba(0, 0, 0, 1);
  text-decoration: none;
}

.subscription-catalog{
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  color: rgba(255, 255, 255, 1);
}

.subscription-catalog{
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
}

.subscription-text-catalog-newsletter{
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color:rgba(0, 0, 0, 1);
  text-transform: uppercase;
}

.subscription-text-catalog-helpful-information{
  color:rgba(51, 51, 51, 1);
}

/*Блок "footer- страница "Каталог""*/

.footer-catalog{
  background-color: var(--main-color);
}
